.contact-container {
    background: white;
    height: calc(100% - 0.5rem);
    margin-top: 0.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-input {
    margin: 1vh 3vw 1vh 3vw;
    background-color: #EBF0F2;
}

.save-button {
    height: 4rem;
    font-size: 2rem;
    margin: 8vh 12vh 1vh 12vh;
    color: white;
    background-color: red;
    border-radius: 1.75rem;
}

.save-button:disabled {
    -webkit-animation: fade 2s ease-in forwards;
    -moz-animation: fade 2s ease-in forwards;
    animation: fade 2s ease-in forwards;
}

.error {
    background-color: pink;
    color: darkred;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1vw;
}

.saved-ok {
    background-color: lightblue;
    color: darkblue;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1vw;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.8
    }
    100% {
        opacity: 0.6
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.8
    }
    100% {
        opacity: 0.6
    }
}

@keyframes fade {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.8
    }
    100% {
        opacity: 0.6
    }
}

