.app {
  text-align: center;

  background-image: url('./assets/background.png');
  background-size: cover;
}

.app-content {
  margin: 0 20% 0 20%;
}

.header {
  background-color: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vh;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {

  height: 85vh;
  display: flex;
}

.main-img {
  max-width: 50%;
  max-height: 50%;
  flex: 1 1;
}

.main-content {
  flex: 1 1;
  max-width: 50%;
}

.footer {
  height: 5vh;
  background-color: black;
}
